<center><h1> This is my contact page. </h1>


<%= link_to("mailto:t.rickard7@hotmail.com", class: "contact-link") do %>
  <i class="far fa-envelope"></i> t.rickard7@hotmail.com
  
<% end %>

<%= link_to("tel:3093680950", class: "contact-link") do %>
<i class="fas fa-mobile"></i>309-368-0950

<% end %>

</center>