    <center><h1> Tyler Khan Kurtis Rickard </h1></center>
    <nav>
     <ul>
      <li><%= link_to(image_tag("mail.jpg", class: "image-button"), "/contact")%></li>
      <li><%= link_to("portfolio", "/portfolio")%></li>
      <li><%= link_to("about", "/about")%></li>
    </ul>
   </nav>

